  <nav class="navbar navbar-expand-md shadow bg-white rounded">

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2 mx-5">

      <ul class="navbar-nav mr-auto nav-font">

       {{ $currentPage := . }}

       {{ range .Site.Menus.main }}
       {{ $active := "" }}

       {{ if eq $currentPage.Title .Name }}
               
       {{ $active = "nav-link-active" }}

       {{ else }}

       {{ end }}

       <li  class="nav-item ">

        <a href="{{ .URL | relLangURL }}" id="c-a" class="nav-link {{ $active }}">{{ .Name }}</a>
        
      </li>

      
      {{ end }}

    </ul>

    {{ range .Site.Languages }}
    {{ if not (eq .Lang $.Site.Language.Lang) }}
    <a href="{{ relURL .Lang }}" lang="{{ .Lang }}" id="c-a" class="nav-link" style="font-size: 1.2rem">{{ .LanguageName }} ({{ .Lang }})</a>
    {{ end }}
    {{ end }}


  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="navbar-brand" href="#">
        <img src="/logo.gif" style="width: 166px; height: 59px;">
      </li>
    </ul>
  </div>
</nav>

